# Kickstarte Projects Analyzer

This code, created by [Xavi Burgos](https://xburgos.es/) analyzes distinct Kickstarter projects using a [Kaggle case](https://www.kaggle.com/kemical/kickstarter-projects), with machine learning, learned at Computer Learning course at [Universitat Autònoma de Barcelona](https://www.uab.cat/).

# 1. Importing libraries

Import all the libraries needed for the project.

In [4]:
import os

import src.eda as eda
import src.pp as pp

# 2. Exploratory Data Analysis (EDA)

Explore the data using different techniques to get a better understanding of the data.

Read CSV file and check the first rows:

In [5]:
# Set up the data path
csv_path = 'data/csv/ks-projects-201612.csv'

# Get the dataframe
df = eda.get_dataframe(csv_path)

# Print the dataframe 2 first rows of the dataframe
df.head(2)

/Users/xavi/Documents/GitHub/kickstarter/src/eda.py:24: DtypeWarning: Columns (13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(path, encoding="cp1252")

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09 11:36:00,1000,2015-08-11 12:12:28,0,failed,0,GB,0,NaN,NaN,NaN,NaN
1,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26 00:20:50,45000,2013-01-12 00:20:50,220,failed,3,US,220,NaN,NaN,NaN,NaN

The last 4 columns are unnamed and have NaN values, so let's see what they are:

In [6]:
# Print a row where the first unnamed column is not NaN
eda.print_non_nans(df, 'Unnamed: 13', 1)

# Print a row where the last unnamed column is not NaN
eda.print_non_nans(df, 'Unnamed: 16', 1)

             ID                       name                   category   \
1454  1008705746  Zephyra´s new full length   'As The World Collapses'

     main_category  currency  deadline                 goal  launched   \
1454          Metal     Music       SEK  2016-02-02 00:56:46     15000

                 pledged  state  backers  country  usd pledged    Unnamed: 13  \
1454  2016-01-03 00:56:46   4262   failed       14           SE  504.94765278

     Unnamed: 14 Unnamed: 15  Unnamed: 16
1454         NaN         NaN          NaN
Empty DataFrame
Columns: [ID , name , category , main_category , currency , deadline , goal , launched , pledged , state , backers , country , usd pledged , Unnamed: 13, Unnamed: 14, Unnamed: 15, Unnamed: 16]
Index: []